.cards_section {
  z-index: 4;
}
.text_projects{
  font-size: 15px;
  color: darkgray;
  margin-bottom: 50px;
  text-align: center;
  max-width: 50%;
  margin-top: 50px;
}
.section-container {
  display: flex;
  flex-direction: column; /* Garante que os elementos fiquem em coluna */
  align-items: center; /* Centraliza os elementos horizontalmente */
}

.slider-container {
  width: 80%;
  position: relative;
  margin-top: 30px;
}
.slick-slide {
  padding: 0px 0px; /* Espaço entre os slides */
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(25%);
}

.project-slide {
  height: 500px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  outline: none;
}

/* Estilizando os botões de navegação */
.slick-nav {
  background-color: #0f6efd;
  border: none;
  color: #0f6efd; /* Cor das setas de navegação */
  font-size: 60px;
  z-index: 1;
  cursor: pointer;
}

.slick-prev {
  left: -40px;
}

.slick-next {
  right: -40px;
}

/* Estilizando os pontos de navegação */
.slick-dots li button:before {
  font-size: 12px;
  color: #ccc; /* Cor dos pontos */
}

.slick-dots li.slick-active button:before {
  color: #0f6efd; /* Cor do ponto ativo */
}

/* Estilizando o carrossel para torná-lo responsivo */
@media (max-width: 1557px) {
  .text_projects{
    max-width: 90%;
  }
  .slider-container {
    margin-left: 0px;
    width: 100%;
  }

  .project-slide {
    width: 400px;
  }

  .slick-slide {
    width: 400px;
    transform: translate(0%);
  }
}
