.cards_section {
  z-index: 4;
}

.section-container {
  display: flex;
  flex-direction: column; /* Garante que os elementos fiquem em coluna */
  align-items: center; /* Centraliza os elementos horizontalmente */

}

.slider-container {
  width: 80%;
  position: relative;
  margin-top: 120px;
  margin-left: -120px;
}
.slick-slide {
  padding: 0px 0px; /* Espaço entre os slides */
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(30%);
}

.project-slide{
  height: 500px;
  display: flex !important; 
  align-items: center;
  justify-content: center;
  
}

/* Estilizando os botões de navegação */
.slick-nav {
  background-color: #0F6EFD;
  border: none;
  color: #0F6EFD; /* Cor das setas de navegação */
  font-size: 60px;
  z-index: 1;
  cursor: pointer;
}


.slick-prev {
  left: -40px;
}

.slick-next {
  right: -40px;
}

/* Estilizando os pontos de navegação */
.slick-dots li button:before {
  font-size: 12px;
  color: #ccc; /* Cor dos pontos */
}

.slick-dots li.slick-active button:before {
  color: #0F6EFD; /* Cor do ponto ativo */
}

/* Estilizando o carrossel para torná-lo responsivo */
@media (max-width: 1557px) {
  .slider-container {
    margin-left: 0px;
    width: 100%;
  }

  .slick-center .project_element {
    
  }
  .project-slide{
    width: 400px;
  }
 
  .slick-slide {
    width: 400px;
    transform: translate(0%);
  }
  
  
}
