.cards_section {
  position: relative;
  z-index: 4;
}

.section-container {
  display: flex;
  flex-direction: column; /* Garante que os elementos fiquem em coluna */
  align-items: center; /* Centraliza os elementos horizontalmente */
  
}

.slider-container {
  width: 80%;
  position: relative;
  margin-top: 120px;
}

/* Estilizando os elementos do carrossel */

/* Ajuste da margem entre os elementos */
.slick-slide {
  padding: 80px; /* Espaço entre os slides */
  height: 660px;
  transform: translate(450px);
}

/* Efeito de zoom e sombra no elemento central */
.slick-center .project_element {
  transform: scale(1.15); /* Zoom no elemento central */
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
}

/* Estilizando os botões de navegação */
.slick-nav {
  background-color: #0F6EFD;
  border: none;
  color: #0F6EFD; /* Cor das setas de navegação */
  font-size: 60px;
  z-index: 1;
  cursor: pointer;
}

.slick-prev {
  left: -40px;
}

.slick-next {
  right: -40px;
}

/* Estilizando os pontos de navegação */
.slick-dots li button:before {
  font-size: 12px;
  color: #ccc; /* Cor dos pontos */
}

.slick-dots li.slick-active button:before {
  color: #0F6EFD; /* Cor do ponto ativo */
}

/* Estilizando o carrossel para torná-lo responsivo */
@media (max-width: 768px) {
  .slider-container {
    width: 100%
  }

  .slick-center .project_element {
    transform: scale(1);
  }
  .cards_section {
    width: 1300px;
  }
  .slider-container{
    margin-top: 0px;
    
  }
 
  .slick-slide {
    display: flex;
    flex-direction: row;          ;
    padding:  0;
    width: 300px;
    transform: translate(30px);
  }
  
  
}
