.contact-me {
    
    height: 80vh;
}
.input-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px; /* Adiciona um espaço entre os elementos */
    width: 80%;
    margin-top: 150px;
}

.nome {  
    width: 100%; /* Ajusta a largura para ocupar todo o espaço da coluna */
    height: 53px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    background-color: #ffffff00;
    padding: 15px;
    font-size: 20px;
}

.message {
    padding: 15px;
    grid-column: span 2; /* Faz o elemento ocupar duas colunas */
    width: 100%; /* Ajusta a largura para ocupar todo o espaço das colunas */
    height: 354px; /* Ajusta a altura conforme necessário */
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    background-color: #ffffff00;
}

.button-contact{
    width: 80px;
    height: 82px;
    border: none;
    background: linear-gradient(136.41deg, #0F6EFD 0%, #3EA6FF 100%);
    border-radius: 50px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}