.contact-me {
  height: 110vh;
}
.input-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px; /* Adiciona um espaço entre os elementos */
  width: 80%;
  margin-top: 150px;
}

.nome {
  width: 100%; /* Ajusta a largura para ocupar todo o espaço da coluna */
  height: 53px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #ffffff00;
  padding: 15px;
  font-size: 20px;
}

.message {
  padding: 15px;
  grid-column: span 2; /* Faz o elemento ocupar duas colunas */
  width: 100%; /* Ajusta a largura para ocupar todo o espaço das colunas */
  height: 354px; /* Ajusta a altura conforme necessário */
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #ffffff00;
  resize: vertical;
  font-size: 20px;
}

.button-contact {
  width: 80px;
  height: 82px;
  border: none;
  background: linear-gradient(136.41deg, #0f6efd 0%, #3ea6ff 100%);
  border-radius: 50px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .contact-me {
    height: fit-content;
  }
  .input-container {
    display: flex;
    flex-direction: column;
  }

  .input-container {
    margin: 3px 0;
  }
}
