

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #F9FDFF;
  font-family: 'Inter', sans-serif;
  font-weight: 100;
}

.App {
  background-color: #0C1015;

}

.section-container {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative; /* Permite que o z-index funcione */
  z-index: 2; /* Garante que fique na frente das partículas */
}

#particles {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0; /* Mantém no fundo */
  pointer-events: none;
}

.fade {
  position: relative;
  z-index: 1;
  background: rgb(12,16,21);
  background: linear-gradient(180deg, rgba(12,16,21,0) 0%, rgba(12,16,21,1) 16%);
}
::-webkit-scrollbar {
  width: 8px; /* Largura da scrollbar */
  height: 8px; /* Para quando a barra de rolagem for horizontal */
}

/* Parte de trás da barra de rolagem */
::-webkit-scrollbar-track {
  background-color: #0C1015; /* Cor de fundo do track */
  border-radius: 10px; /* Deixa a borda do track arredondada */
}

/* Parte da barra de rolagem (a parte que se move) */
::-webkit-scrollbar-thumb {
  background-color: #0F6EFD; /* Cor da parte móvel da barra */
  border-radius: 10px; /* Arredondando as bordas */
  transition: background-color 0.3s ease; /* Efeito de transição */
}

/* Efeito ao passar o mouse sobre a parte da barra que se move */
::-webkit-scrollbar-thumb:hover {
  background-color: #0C6BFB; /* Cor mais clara ao passar o mouse */
}

/* Para a barra de rolagem horizontal */
::-webkit-scrollbar-horizontal {
  height: 8px;
}

/* A área do track horizontal */
::-webkit-scrollbar-track-piece {
  background-color: #0C1015;
}

.radial-color{
  background: rgb(15,110,253);
  background: radial-gradient(circle, rgba(15, 110, 253, 0.411) 0%, rgba(0,0,0,0) 50%);
  width: 100%;
  height: 1200px;
  position: absolute;
}